# ==== Core ML ====
tensorflow==2.10.1
numpy==1.23.5
pandas==2.0.3
scipy==1.10.1
joblib==1.4.2
tqdm==4.66.5

# ==== Viz / EDA ====
matplotlib==3.7.5
seaborn==0.13.2
notebook==6.5.7
pywinpty==2.0.10

# ==== Config & utils ====
python-box==6.0.2
PyYAML==6.0.2
types-PyYAML==6.0.12.20241230
ensure==1.0.2
gdown==5.2.0

# ==== Experiment tracking / data versioning ====
dvc==3.42.0
mlflow==2.2.2

# ==== API & Web ====
fastapi==0.116.1
uvicorn[standard]==0.33.0
python-multipart==0.0.20
Pillow==10.4.0

# ==== Local package ====
-e .